---
layout: default
title: Bridging Module 2012
---

<div class="span9">
  <div class="span8" style="background-color: white;">
    <img alt="school_of_computing" src="/assets/img/schoolofcomputinglogo_3.gif"/>
    <h2>{{ page.title }}</h2>
    <h4>Advanced Entry into DT228/DT211</h4>
    <h5>Lab A116, Kevin St. (September 3rd - 7th, 2012)</h5>
    <br />
    <p><a class="btn btn-large" href="http://www.surveymonkey.com/s/GKQKPR9">Click here to take learner's survey</a></p>
    <br />
    <br />
  </div>
  <div class="row-">
    <div class="well span8 site-unit-body" style="margin-left: 3%">
      <h3 class="pull-left">0</h3>
      <p class="site-unit-text"> {% include unit0.html %} </p>
    </div>

    <div class="well span8 site-unit-body">
      <a name="unit1"><h3 class="pull-left">1</h3></a>
      <p class="site-unit-text"> {% include unit1.html %} </p>
    </div>

    <div class="well span8 site-unit-body">
      <a name="unit2"><h3 class="pull-left">2</h3></a>
      <p class="site-unit-text"> {% include unit2.html %} </p>
    </div>

    <div class="well span8 site-unit-body">
      <a name="unit3"><h3 class="pull-left">3</h3></a>
      <p class="site-unit-text"> {% include unit3.html %} </p>
    </div>

    <div class="well span8 site-unit-body">
      <a name="unit4"><h3 class="pull-left">4</h3></a>
      <p class="site-unit-text"> {% include unit4.html %} </p>
    </div>

    <div class="well span8 site-unit-body">
      <a name="unit5"><h3 class="pull-left">5</h3></a>
      <p class="site-unit-text"> {% include unit5.html %} </p>
    </div>

  </div><!--/row-->
</div><!--/span-->

