---
layout: default
title: Bridging Module 2012
---

<div class="span9">
  <div class="hero-unit">
    <h2>{{ page.title }}</h2>
    <p></p>
  </div>
  <div class="row-fluid">
    <div class="well">
      <h3 class="pull-right">1</h3>
      <p> {% include unit0.html %} </p>
    </div>

    <div class="well">
      <p> {% include unit1.md %} </p>
    </div>

    <div class="well">
      <h3 class="pull-right">2</h3>
      <p> {% include unit2.md %} </p>
    </div>

    <div class="well">
      <h3 class="pull-right">3</h3>
      <p> {% include unit3.md %} </p>
    </div>

    <div class="well">
      <h3 class="pull-right">4</h3>
      <p> {% include unit4.md %} </p>
    </div>

    <div class="well">
      <h3 class="pull-right">5</h3>
      <p> {% include unit5.md %} </p>
    </div>

  </div><!--/row-->
</div><!--/span-->

