<ul>
  <li>Introduction to Number Systems</li>
  <ul style="padding-left:20px">
    <li>Positional Number Systems</li>
    <li>Binary</li>
    <li>Hexadecimal</li>
    <li>Two's complement</li>
    <li>Introduction to Boolean Logic and Boolean Algebra</li>
  </ul>
  <br />
  <li>C Progamming 3</li>
  <ul style="padding-left:20px">
    <li>Bitwise operations</li>
  </ul>
  <li>Formative Assessment 2: Conversion between number formats</li>
  <p style="padding-left:30px">
    <br />Write a command line utility to accept binary number as input and to output the equivalent decimal value.
    Extend the utility to accept a decimal number as input and to output the equivalent binary value.
  </p>
</ul>
<a class="btn btn-primary site-code-link" href="https://github.com/ditbjg/bridgingmodule2012/tree/master/unit3">Unit Source Code</a>
