<ul>
  <li>Formative Assessment 1: Temperature Conversion Utility</li>
  <p style="padding-left:30px">
    <br />Write a command line utility to accept a temperature value and a flag and perform
    a conversion from celcius to farenheit or from farenheit to celcius, depending on what the
    user specifies in the flag. You will need to use the float data type to perform your calculations.
  </p>
  <li>C Progamming 2</li>
  <ul style="padding-left:20px">
    <li>More on strings</li>
    <li>Subscripting of arrays including strings</li>
    <li>Structures: Programming arithmetic with fractions</li>
    <li>Applying Greatest Common Divisor and Lowest Common Multiple</li>
  </ul>
</ul>
<a class="btn btn-primary site-code-link" href="https://github.com/ditbjg/bridgingmodule2012/tree/master/unit2">Unit Source Code</a>
