<ul>
  <li>C Programming 4</li>
  <ul style="padding-left: 20px">
    <li>Dynamic memory management</li>
    <li>The linked list data structure</li>
  </ul>
  <br />
  <li>Maths Skills</li>
  <ul style="padding-left: 20px">
    <li><a href="http://www.khanacademy.org/math/arithmetic">Pre-Algebra</a></li>
    <li><a href="http://www.khanacademy.org/math/geometry">Geometry</a></li>
    <li><a href="http://www.khanacademy.org/math/algebra">Algebra</a></li>
    <li><a href="http://www.khanacademy.org/math/linear-algebra">Linear Algebra</a></li>
    <li><a href="http://www.khanacademy.org/math/trigonometry">Trigonemetry</a></li>
    <li><a href="http://www.khanacademy.org/math/precalculus">Pre-Calculus</a></li>
    <li><a href="http://www.khanacademy.org/math/calculus">Calculus</a></li>
    <li><a href="http://www.khanacademy.org/math/probability">Probability</a></li>
    <li><a href="http://www.khanacademy.org/math/exercisedashboard">Exercise Dashboard</a></li>
  </ul>
</ul>
