<ul>
  <li>Installing the VMWare Player Linux <a href="http://goo.gl/CWWVH">image</a></li>
  <li>Getting around the UNIX command line environment</li>
  <li>Introduction to C Programming</li>
  <ul style="padding-left:20px">
    <li>First program</li>
    <li>The C compiler and make utility</li>
    <li>Printing strings and numbers</li>
    <li>Strings and character arrays</li>
    <li>Command line arguments</li>
    <li>Scalar data types</li>
    <li>Keyboard input</li>
    <li>Simple input validation</li>
    <li>A simple calculator</li>
  </ul>
  <li>Introduction to Maths <a href="http://www.dit.ie/colleges/collegeofsciencesandhealth/studentresources/mathsresources/">resources</a></li>
</ul>
<a class="btn btn-primary site-code-link" href="https://github.com/ditbjg/bridgingmodule2012/tree/master/unit1">Unit Source Code</a>
